@model IEnumerable<Engelsiz_Rehber_Admin_Paneli.Models.MyNews>

<!DOCTYPE html>
<html lang="tr">

<head>
    <title>Haberleri Yönet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <style>
        .tdhover:hover {
            cursor: pointer;
        }

        ::-webkit-scrollbar {
            width: 20px;
        }

        ::-webkit-scrollbar-track {
            background-color: transparent;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #d6dee1;
            border-radius: 20px;
            border: 6px solid transparent;
            background-clip: content-box;
        }
    </style>
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" class="active">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4">
                <h3><a asp-action="Index" class="logo">Engelsiz Rehber Admin</a></h3>
                <ul class="list-unstyled components mb-5">
                    <li >
                        <a asp-action="Index"><span class="fa fa-calendar mr-3"></span>Etkinlikler</a>
                    </li>
                    <li>
                        <a asp-action="Users"><span class="fa fa-user mr-3"></span> Kullanıcılar</a>
                    </li>
                    <li>
                        <a asp-action="Messaging"><span class="fa fa-bell mr-3"></span>Bildirim</a>
                    </li>
                    <li class="active">
                        <a asp-action="News"><span class="fa fa-comments mr-3"></span>Haberler</a>
                    </li>
                    <li>
                        <a href="mailto:engelsizrehber0@gmail.com"><span class="fa fa-question mr-3 ml-1"></span>Yardım</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="content" class="p-4 p-md-5 pt-5">
            <div style="display: flex; justify-content: space-between;">
                <h1>Haberleri Yönet</h1>
                <div style="display: flex;">
                    <a asp-action="ReloadNews"><button class="btn btn-warning"><i class="fa fa-refresh fa-1x pr-2"></i>Yenile</button></a>&nbsp;&nbsp;
                    <a asp-action="AddNews"><button class="btn btn-success"><i class="fa fa-plus fa-1x pr-2"></i>Haber Oluştur</button></a>
                </div>
            </div>
            <br />

            <br>
            <div class="table-responsive" style="border: 1px gainsboro solid; border-radius: 20px;">
                <table class="table table-hover">
                    <thead class="table-ligth" style="user-select: none;">
                        <tr>
                            <th scope="col">Haber İçeriği</th>
                            <th scope="col">Haber Tarihi</th>
                            <th scope="col">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model != null)
                            {

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.content)</td>
                                        <td>@Html.DisplayFor(modelItem => item.date)</td>
                                        <td>
                                            <div style="display: flex;">
                                                <a asp-action="DeleteNews" asp-route-id="@item.id"><button type="button" class="btn btn-danger">Sil</button>&nbsp;</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><th>Herhangi Bir Haber Bulunamadı</th></tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>



    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
    <script>document.getElementById("sidebarCollapse").click();</script>
</body>

</html>