@model Rehber

<!-- Rehbers Detay -->
<div class="card">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid rounded-start" src="~/image/urun.png" alt="..." />
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h2 class="card-title">@Model.KullaniciAdi</h2>
                <p class="card-text">@Model.Telefon TL</p>                
            </div>
        </div>
    </div>
</div>