<form method="post" asp-action="Ekle">
    <p> <input type="text" name="Marka" placeholder="Marka Gir"> </p>
    <p> <input type="text" name="Model" placeholder="Model Gir"> </p>
    <p> <input type="text" name="Yil" placeholder="Yıl Gir"> </p>
    <p> <input type="text" name="Yakit" placeholder="Yakıt Gir"> </p>
    <p> <button type="submit" class="btn btn-success">Ekle</button> </p>
</form>